<span class="__notpl">
    <button class="__del" _click="$delete">-</button>
    <b class="__id">#</b>
</span>
<input placeholder="name" _change="$upsert" class="__name" type="text" />
<!--<div class="__meta">-->
<!--    <span class="__meta-stage">stage:done</span>-->
<!--    <span class="__meta-version">ver:1</span>-->
<!--    <span class="__meta-log">log:save</span>-->
<!--    <span class="__meta-priority">priority:date</span>-->
<!--    <span class="__meta-soft-delete">trash:save</span>-->
<!--    <span class="__meta-pipeling">trash:save</span>-->
<!--</div>-->
<script>
    Object.defineProperty($,"dto",{
        set:o=>Object.keys(o).forEach(k=>{
            if(/^name$/.exec(k))$(`.${$}__${k}`).value=o[k];
        }),
        get:f=>({
            name: $(`.__name`).value,
        })
    })
    $.upsert=e=>$.id&& $('<$upsert',$.dto)

    $.delete=e=>$('<$').delete($)
    $.editTask=e=>{
        console.log($('<$').editTask)
        $('<$').editTask($)
    }
</script>